<html>
  <head>
    <title>Juego Terminado</title>
  </head>
  <body>
    <h1>Has terminado el juego!</h1>
    <h2>No quedan mas preguntas por responder, has llegado al final</h2>
  </body>
</html>