<h1>Bienvenido a "Aprende con Fitito"</h1>
<form action="/" method = "post">
    <input type="text" name="email"></input>
    <input type="password" name="password"></input>
    <input type="submit" value="LogIn"></input>
</form>