<html>
	<head>
		<title>MODO EXAMEN</title>
		<link rel="stylesheet" type="text/css" href="<%= url('/modoExamen.css') %>">
	</head>
	<body>
		<h1>MODO EXAMEN</h1>
		<form action="/game/exam/play" method="post">
			<button type="submit" value="start">Comenzar</button>
		</form>
	</body>
</html>
