<html>
    <head>
        <title>Aprende con Fitito</title>
        <link  rel="stylesheet" type="text/css" href="<%= url('/tematica.css') %>" />
    </head>
    <body>    
    <h1>Bienvenido a Aprende con Fitito</h1>
        <form action="/game" method = "post">
            <input type="text" name="email" placeholder="Dirección de correo eléctronico" required></input>
            <input type="password" name="password" placeholder="contraseña" required></input>
            <button type="submit" value="LogIn">Ingresar</button>
        </form>
    </body>
</html>