<html>
    <head>
        <title>A qué quieres jugar?</title>
        <link rel="stylesheet" type="text/css" href="<%= url('/estilo.css?v=15000') %>">
    </head>
    <h1>¿A qué modo quieres jugar?</h1>
    <form action="/exam" method="get">
        <button type="submit" value="ModoExamen">Modo Examen</button>
    </form>
    <form action="/practice" method="get">
        <button type="submit" value="ModoPractica">Modo Practica</button>
    </form>

    <div class="profile-data">
       <h2>Nombre de usuario: <%= @user.username %></h2>
       <h2>Máximo puntaje: <%= @user.total_score %></h2>
</html>