<link rel="stylesheet" type="text/css" href="estilo.css">
<h1>¿A qué modo quieres jugar?</h1>
<form action="/game/exam" method="post">
<button type="submit" value="Modo Examen">Modo Examen</button>
</form>
<form action="/game/practice" method="post">
<button type="submit" value="Modo Practica">Modo Practica</button>
</form>