<html>
    <head>
        <link href="<%= url('/tematica.css') %>" rel="stylesheet" type="text/css" />
    </head>
    <body>    
    <h1>Bienvenido a "Aprende con Fitito"</h1>
        <form action="/game" method = "post">
            <input type="text" name="email"></input>
            <input type="password" name="password"></input>
            <button type="submit" value="LogIn">Ingresar</button>
        </form>
    </body>
</html>