<html>
<head>
    <title>MODO EXAMEN</title>
    <link rel="stylesheet" type="text/css" href="css/modoExamen.css">
</head>
<body>
	<h1>MODO EXAMEN</h1>
	<form action="/game/exam" method="post">
		<h1>Estás Listo Para jugar?</h1>
		<button type="submit" value="Start">Comenzar</button>
	</form>
</body>
</html>