<html>
    <head>
    <title>Perdiste locon</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/lost.css?v=8000') %>">
    </head>
    <body>
        <h1>HAS PERDIDO!</h1>
        <h2>Tu puntaje fue de: <%=@examen.score%> puntos</h2>
        <form action="/exam" method="get">
            <button type="submit" value="lost">Volver a intentar</button>
        </form>
    </body>
</html>