<html>
    <head>
    <title>Perdiste locon</title>
    </head>
    <body>
        <h1>HAS PERDIDO :(</h1>
        <h2>Loco si seguis asi chocas a la primera cuadra</h2>
        <form action="/exam" method="get">
            <button type="submit" value="lost">Volver al Modo Examen</button>
        </form>
    </body>
</html>