<html>
  <head>
    <title>Modo Practica</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/practica.css?v=30') %>">
  </head>
  <form action="/game/practice/theoric" method="post">
    <h1>Bienvenido al Modo de Práctica</h1>
    <button type="submit" value="pdf">Ingresa a la teoría!</button>
  </form>
  <form action="/game/practice/play" method="post">
    <h1>Ya estoy preparado para practicar</h1>
    <button type="submit" value="practice">Comienza el Modo Práctica!</button>
  </form>
</html>