<html>
  <head>
    <title>Modo Practica</title>
  </head>
  <form action="/game/practice" method="post">
    <h1>Bienvenido al Modo de Practica</h1>
    <button type="Submit" name="pdf">Ingresa a la teoría</button>
  </form>
</html>