<html>
  <head>
    <title>Modo Practica</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/practica.css?v=3000') %>">
  </head>
  <form action="/practice/theoric" method="post">
    <h1 style="color: white;">Bienvenido al Modo de Práctica</h1>
    <button type="submit" value="pdf">Ingresa a la teoría!</button>
  </form>
  <form action="/practice/play" method="post">
    <h1 style="color: white;">Ya estoy preparado para practicar</h1>
    <button type="submit" value="practice">Comienza el Modo Práctica!</button>
  </form>
</html>