<html>
    <head>
        <title>Respuesta Inorrecta</title>
        <link rel="stylesheet" type="text/css" href="<%= url('/incorrecta.css?v=50') %>">
    </head>
    <h1>Respuesta Incorrecta.</h1>
    <form action="/game/practice/play" method="post">
        <button type="submit" value="incorrecta">Continuar</button>
    </form>
</html>