<html>
    <head>
        <title>Respuesta Correcta</title>
        <link rel="stylesheet" type="text/css" href="<%= url('/correcta.css?v=40') %>">
    </head>
    <h1>Respuesta Correcta!</h1>
    <form action="/game/practice/play" method="post">
        <button type="submit" value="correcta">Continuar</button>
    </form>
</html>