<html>
  <head>
    <title>Modo Practica</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/practica.css') %>">
  </head>
  <form action="/game/practice" method="post">
    <h1>Bienvenido al Modo de Práctica</h1>
    <button type="Submit" name="pdf">Ingresa a la teoría!</button>
  </form>
</html>