<html>
<head>
    <title>Modo Practica</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/practica.css?v=50000000') %>">
</head>
<body>
    <div class="container">
        <h1 style="color: white;">Bienvenido al Modo Práctica</h1>
        <form action="/practice/theoric" method="post">
            <button type="submit" value="pdf">Ingresa a la teoría!</button>
        </form>
    </div>

    <div class="botones-container">
        <h1 style="color: white;">Ya estoy preparado para practicar</h1>
        <h2 style="color: white;">Selecciona un Tema para practicar</h2>
        <form action="/practice/play" method="post">
            <button type="submit" value="practice">Práctica completa</button>
        </form>
        <form action="/practice/signal" method="get">
            <button type="submit" value="practice">Señales</button>
        </form>
        <form action="/practice/definition" method="post">
            <button type="submit" value="practice">Definición</button>
        </form>
        <form action="/practice/safety-road" method="post">
            <button type="submit" value="practice">Seguridad Vial</button>
        </form>
    </div>
</body>
</html>