<html>
    <head>
       <title>Usuario</title>
       <link rel="stylesheet" type="text/css" href="<%= url('/profile.css?v=50') %>"> 
    </head>
    <body>
        <h1>Perfil de Usuario</h1>
        <h2>Email: <%=@user.email %> </h2>
        <h2>Mejor Puntaje: <%=@user.total_score%></h2>
    </body>
</html>