<html>
  <head>
    <link rel="stylesheet" type="text/css" href="<%= url('/registro.css?v=1000') %>" />
    <title>Registrate</title>  
  </head>
  <body>
  <form action="/register" method = "post">
  <div class="input-field">
    <input type="text" name="email" placeholder="Direcci칩n de correo electr칩nico" required></input>
    <i class='bx bx-user' ></i>
  </div>
  <div class="input-field">
    <input type="password" name="password" placeholder="Escriba su contrase침a" required></input>
    <i class='bx bx-lock-alt'></i>
    <input type="password" name="password2" placeholder="Escriba de nuevo su contrase침a" required></input>
  </div>
    <button type="submit" value="LogIn">Registrarme</button>
  </form>
  </body>
</html>