<html>
  <head>
    <title>Correcto!</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/estilo.css') %>">
  </head>
    <body>
    <h1>Respuesta Correcta</h1>
      <form action="/game/exam/play" method="post">
        <button type="submit" value="continue">Continuar</button>
      </form>
    </body>
</html>