<html>
  <head>
    <title>Respuesta</title>
  </head>
    <body>
      <h1>Respuesta</h1>
      <% if @es_correcta %>
        <p>¡Respuesta correcta!</p>
      <% else %>
        <p>Respuesta incorrecta.</p>
      <% end %>
      <button type="submit" value="continue">Continuar</button>
    </body>
</html>