<html>
  <head>
    <title>Incorrecto!</title>
    <link rel="stylesheet" type="text/css" href="<%= url('/incorrecta.css?v=80') %>">
  </head>
    <body>
    <h1>Respuesta Incorrecta.</h1>
      <form action="/exam/play" method="post">
        <button type="submit" value="continue">Continuar</button>
      </form>
    </body>
</html>