body {
    background-color: bisque;
    font-family: Arial, sans-serif;
    font-size: 2.2em;
    line-height: 1.5;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url("https://raw.githubusercontent.com/lucgasb/ADYS-Proyecto-2023/main/public/images/Crazy%20roads.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
    padding: 10px 0 10px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 480px;
    padding: 40px;
    border-radius: 5px;
  }

  
  .profile-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #73a7eb;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
  }
  
  button[type="submit"] {
    display: inline-block;
    padding: 50px 100px;
    background-color: #73a7eb;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 0.9em;
  }
  
  button[type="submit"]:hover {
    background-color: #fff12e;
  }