body {
	background-color: bisque;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    margin: 0;
    padding: 0;	
	background-image: url("https://raw.githubusercontent.com/lucgasb/ADYS-Proyecto-2023/main/public/images/James%20Curran.gif");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
h1 {
	font-family: Arial, sans-serif;
	font-size: 3em;
	text-align: center;
	margin-top: 50px;
  }
  
  button {
	display: block;
	margin: 0 auto;
	font-size: 1.5em;
	padding: 10px 20px;
	background-color: #3498db;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  button:hover {
	background-color: #2980b9;
  }