body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://raw.githubusercontent.com/lucgasb/ADYS-Proyecto-2023/main/public/images/Lyft%20-%20Vehicles%20Pattern.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 40px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
  }
  
  h1 {
    padding: 150px 0 10px 0;
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
  }
  
  button {
    display: block;
    margin: 0 auto;
    padding: 50px 100px;
    font-size: 24px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }