body {
  background-image: url("https://raw.githubusercontent.com/lucgasb/ADYS-Proyecto-2023/main/public/images/Cars%20test.gif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  margin: 0;
  padding: 0;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-image img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 480px;
  padding: 40px;
  border-radius: 5px;
}

button {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0; /* Agregado margen derecho */
  padding: 50px 100px;
  border: 1px solid bisque;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 24px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

button[type="submit"] {
  display: inline-block;
  padding: 50px 100px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button[type="submit"]:hover {
  background-color: #ecd904;
}
