/* Estilos para el título */
h1 {
	background-color: bisque;
	font-size: 3em;
	text-align: center;
	margin-top: 50px;
  }
  
  /* Estilos para el botón */
  button {
	display: block;
	margin: 0 auto;
	font-size: 1.5em;
	padding: 10px 20px;
	background-color: #3498db;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  button:hover {
	background-color: #2980b9;
  }